.Card {
    position: relative;
    /* margin : auto; */
    /* margin-top : 30px; */
    /* margin-bottom : 30px; */


    width: 18vw;
    height : 45vh;

    display : flex;
    flex-direction: column;

    box-shadow: 1px 0px 5px 0.5px;
}

.Name {
    /* color: white; */
    text-align: center;
}

.Front, .Back {
    position: absolute;
    /* display: flex;
    flex-direction: column; */

    width: 100%;
    height : 100%;
}

.Front {
    width: 100%;
    height: 80%;
}

.Front:hover {
    transition-duration: 500ms;
    cursor : pointer;
    opacity: 0.1;
}

.Front > img {
    width: 100%;
    height: 100%;
}

.Back {
    text-align: center;

    width: 100%;
    height : 100%;

    /* background-color: rgb(36, 36, 36) ; */
    /* color : white; */
}

.Back > p {
    margin-top : 35%;
    font-size : 2em;
}



@media screen and (max-width : 960px) {
    .Card {
       width: 100%;
       height : 45vmin;
       text-align: center;
    }

}
